.user-img {
    border-radius: 50%;
    width: 40px;
}

ul {
    padding: 0;
    height: 100%;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(128, 128, 128, 0.37);
    color: white;
    padding: 2px;
}

.block-button{
    background-color: transparent;
    border: 0px;
}