.theater-display {
    width: 438px;
    height: 229px;
    left: 501px;
    top: 234px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    /* background-size: cover; */
    background-size: auto;
    background-repeat: repeat-y;
    background-color: black;
    background-position: center;
}

.theater-banner {
    width: 405px;
    height: 67px;
    left: 17px;
    top: 162px;
    background: rgba(41, 126, 241, 0.37);
    backdrop-filter: blur(12.5px);
    border-radius: 15px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}