.chat-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

ul {
    list-style: none;
}

.chat-input {
    background: #A9A9A9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    width: 300px;
    height: 36px;
    padding-left: 10px;
}

.send-message{
    position: absolute;
    right: 0px;
    background-color: transparent;
    border: 0px;
}

.send-message img{
    height: 40px;
    width: 50px;
}